
body{
	background-color: #FFFF
}

.container{
	flex-wrap: wrap;
	display: flex;
}

.container > article{
	margin: 10px;
	padding: 20px
	font-size: 30px;
}


.box {
	display: flex;
	flex-wrap: nowrap;
}

img{
	max-height: 100px
	max-width:100px
}
ul{
	column-count: 3
}

#logo{
  max-width: 5%;
  height: auto;
}
#imgsteca{
  max-width: 5%;
  height: auto;
  
}
#imgbattery{
  max-width: 5%;
  height: auto;
  
}
#imgsolar{
  max-width: 	5%;
  height: auto;
  
}